.admin-inventory {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.product-list {
  list-style-type: none;
  padding: 0;
  color: white;
}

.product-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  width: 450px;
  padding: 0.9rem;
  /* background-color: #e2c7c7; */
  background: linear-gradient(rgb(144, 198, 139), rgb(5, 18, 6), rgb(144, 222, 141));
  
  border-radius: 8px;
}

.product-list button {
  padding: 0.5rem;
  /* background-color: #f44336; */
  background: linear-gradient(rgb(144, 198, 139), rgb(5, 18, 6), rgb(144, 222, 141));
  
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.product-list button:hover {
  background-color: #d32f2f;
}
@media (max-width: 768px) {
  .admin-inventory {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;

}
.product-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0;
  width: 450px;
  padding: 0.9rem;
}
}
@media (max-width: 400px) {
  .admin-inventory {
  max-width: 400px;
  margin-left: -35px;
  text-align: center;
  padding: 1rem;
}
.product-list li {
  display: block;
  width: 250px;
  padding: 0.5rem;
  text-align: center;
}
.product-list-img{
  width: 230px;
  height: 100px;
}
}